/* falta colocar um estilo no focus dos inputs e text-area */
body{
    height: 100% ;
    background-image: linear-gradient( to bottom, #ffffff, #B6FFF6);
}
.img_um{
    width: 180px;
    position: absolute;
    top: 0px;
    left: 20%;
    transform: rotate(120deg);
    z-index: -1;
}
.img_dois, .img_tres{
    display: none;
}
.arrow{
    min-width: 50px;
    max-width: 100px;
    height: 25px;
    margin: 0px 10px;
    background-image: url(../images/setinhaMin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border-radius: 0 0 10px 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}
/* .all{
    display: grid;
    grid-template-areas: "titulo, titulo" ;
}  */

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .title{
    font-family: 'Just Another Hand', cursive;
    /* padding: 00px 20px 0 0; */
    /* background-color: red; */
    font-size: 40px;
    text-transform: uppercase;
}

/* .hr_title{
    color: #000000;
    border: 1px solid black;
    width: 60vh;
    transform: translate(-20%, -500%);
    margin: auto;
} */
.header .wpp{
    width: 65px;
    height: 65px;
    /* transform: translate(0%, -00%); */
}
.description{
    font-family: 'Bai Jamjuree', sans-serif;
    max-width: 300px;
    padding: 20px 0 ;
    text-align: center;
    text-transform: uppercase;
}
.my_adds, .footer{
    background-color: #75F692CC;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    
    
}
.my_adds .my_adds_word, .footer .donation{
    font-family: 'Just Another Hand', cursive;
    font-size: 20px;
}
.form{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */

}
.form .tel{
    border-radius: 30px;
}
.form .tel, .form .msg{
    padding: 5px 15px;
}
.form .tel::placeholder, .form .msg::placeholder{
    text-transform: uppercase;
}
.form .msg, .form .sub_btn, .form .coppy .coppy_btn{
    border-radius: 20px;
}
.form .warning{
    color: #FF0404;
    text-align: center;
    text-transform: uppercase;
}
.sub_btn{
    background-color: #000000CC;
    font-weight: bold;
    color: #ffffff;
    height: 40px;
    max-width: 110px;
    min-width: 80px;
    margin: auto;
}
.form .coppy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .coppy_link{
    display: none;
}
.form .coppy .coppy_btn{
    font-size: 18px;
    background-color: #f0f0f0;
    border: none;
    min-width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

/* 1. adicionar efeito de copiar e de gerar link nos botões
2. colocar uma borda de selected de acordo com o layout nos inputs. */
@media (min-width: 992px) {
    .img_um{
        left: 35%;
        top: 8%;
        width: 200px;
    }
    .img_dois, .img_tres{
        display: inline;
        position: absolute;
        width: 180px;
    }
    .img_dois{
        transform: rotate(350deg);
        top: 70%;
        left: 12%;
        z-index: -1;
    }
    .img_tres{
        top: 60%;
        left: 60%;
        transform: rotate(220deg);
        z-index: -1;
    }
    .wpp{
        margin-left: 100px;
        transform: translate(-50%, -8%);
    }
    .hr_title{
        width: 400px;
        transform: translate(25%, -1000%);
        border: 1px solid black;
        border-radius: 50%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .container{
        display: grid;
        
    }
    .description{
        margin: auto;
    }
    .my_adds{
        margin: auto;
    }
    .header{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .form{
        max-width: 440px;
    }
    .footer{
        margin: auto;
    }
}