/* cores 
#B6FFF6 background
#75F692 div

fonte: open sans e just another hand*/
body{
    height: 100vh;
    background-image: linear-gradient( to bottom, #ffffff, #B6FFF6);
}
.arrow{
    width: 15%;
    height: 30px;
    background-image: url(../images/setinhaMin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border-radius: 0 0 10px 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
}
.header .title{
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 3px;
    /* margin: 20px 1px ; */
    padding: 00px 10px;
    /* background-color: red; */
}
.header .wpp{
    width: 40px;
    transform: translate(0%, -20%);
}
.my_adds, .footer{
    background-color: #75F692CC;
    border: 1px solid black;
    border-radius: 20px;
}